@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body{
    font-family: Inter;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    font-family: Karla;
    font-weight: 800;
}

span{
    color:#10B981;
}

p{
    font-weight: 400;
    margin-bottom: 60px;
}

button{
    font-family: Inter;
    font-weight: 500;
    width: 191px;
    background: #10B981;
    color: white;
    padding: 9px 17px;
    border: none;
    border-radius: 5px;
    margin-bottom: 35px;
    cursor: pointer;
}

hr{
    border: 1px solid #2F3E53;
}

.container{
    background: #1F2937;
    border-radius: 5px;
    padding: 115px 50px 0 52px;
    width: 25rem;

}

.passwords{
    display: flex;
    justify-content: space-evenly;
}

.pass{
    display: flex;
    align-items: center;
    background: #273549;
    height: 2rem;
    width: 160px;
    padding: 4px 15px;
    border-radius: 6px;
    margin-bottom: 90px;
    color: #55F991;
}